.form {
  width: 100%;
  max-width: 350px;
  padding: 2rem 1rem;
  background-color: white;
  position: relative;
}

.form__x {
  position: absolute;
  right: 1rem;
  font-size: 1.5rem;
  color: grey;
  top: 0.8rem;
  cursor: pointer;
  transition: transform 100ms ease;
}

.form__x:hover {
  transform: scale(1.1);
}

.form__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.form__div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-bottom: 0.8rem;
}

.form__div :nth-child(7) {
  margin-bottom: 2rem;
}

.form__label {
  position: relative;
  padding-left: 0.8rem;
  color: rgb(54, 53, 53);
}

.form__input {
  font-size: 1rem;
  font-weight: 100;
  padding: 0.5rem 0.8rem;
  border-radius: 0.2rem;
  border: 1px solid #aaaa;
  background-color: rgb(208, 226, 237);
}

.form__btn {
  width: 100%;
  padding: 0.8rem;
  color: white;
  background-color: #555a88;
  transition: filter 100ms ease;
  font-size: 1.1rem;
}

.form__btn:hover {
  filter: brightness(1.2);
}
